[user]
	email = volhovm.cs@gmail.com
	name = Mikhail Volkhov
        signingkey = 823709D7
[core]
	editor = vim
[commit]
        gpgsign = true
[credential]
	helper = cache --timeout=3600
[gpg]
        program = gpg
[http]
        sslverify = false
[tig]  
        show-changes = true
        line-graphics = utf-8
[tig "color"] 
        cursor = yellow red bold
[tig "bind"] 
        generic = P parent
