URxvt*scrollBar:                      false
URxvt*scrollTtyKeypress:	      true
URxvt*scrollTtyOutput:                true
URxvt*transpararent:                  false
URxvt*inheritPixmap:                  true
URxvt*shading:                        0
URxvt*scrollWithBuffer:               true
URxvt.font:                           xft:terminus:size=11
URxvt.background:                     #020202
URxvt.foreground:                     #EEEEEE
URxvt.color4:                         #1553ad
URxvt.color12:                        #1553ad
